@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: auto;
  font-family: jura;
  background: linear-gradient(to top, rgb(143, 143, 143), rgb(55, 55, 55));
}

.nav-bar {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
}
.logo {
  height: 6rem;
  padding-left: 2rem;
}
nav ul {
  display: flex;
  padding-right: 2rem;
  flex-wrap: wrap;
}
nav ul li {
  display: flex;
}
nav a {
  padding: 0 10px 0 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: 700;
}
nav a:hover {
  color: rgb(209, 0, 0);
  cursor: pointer;
  text-shadow: 2px 2px 10px white;
  transition-duration: 1s;
}
.banner {
  text-align: center;
  color: white;
  font-weight: bolder;
  text-shadow: 1px 1px 10px rgb(255, 255, 255);
  height: 350px;
  margin-top: 0;
  background-image: url(img/Studio_pan_edit.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250%;
}
.banner h1 {
  margin-top: 0;
  padding-top: 6rem;
  font-size: 3rem;
}
.banner p {
  font-size: 1.5rem;
}
.promo0 h1 {
  margin-bottom: 2rem;
}

.promo0 {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgb(196, 196, 196);
  margin-top: 0;
  padding-top: 1.5rem;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
.promo {
  display: flex;
  width: 100%;
  height: auto;
  background-color: rgb(165, 165, 165);
  margin-top: 0;
  padding-top: 1.5rem;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
iframe {
  width: 500px;
  box-shadow: 2px, 2px, 2px rgb(199, 0, 0);
}

.desc {
  padding-top: 1rem;
  width: 400px;
  font-size: 1, 2rem;
  line-height: 2rem;
  margin-left: 1rem;
  margin-bottom: 100px;
}

li {
  list-style-type: none;
}
.desc0 {
  margin: 1rem;
  text-align: left;
  margin-bottom: 100px;
  padding: 1rem;
}

.studio {
  background-color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#rack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: nowrap;
  width: 100%;
}
i {
  font-size: 2rem;
  color: rgb(214, 93, 0);
  text-shadow: 2px 2px 6px black;
  padding: 1rem;
}

.rack {
  width: 100%;
  height: auto;
  background-color: rgb(177, 177, 177);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 5rem;
}
.box a {
  text-decoration: none;
  color: black;
}

.box img {
  margin-top: 30px;
  border-radius: 5px;
  width: 200px;
  height: auto;
}
.box h3 {
  text-align: center;
  margin-bottom: 0;
}
.box p {
  text-align: center;
  margin-top: 0.5rem;
  font-weight: 100;
}

.contact {
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 0px;
  padding: 0.5rem;
}
.contact h2 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 3px;
}

.contact h5 {
  margin: 3px;
}
.phone {
  display:flex;
  align-items: center;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
